

.home-page {
    position: relative;
    min-height: 100vh; /* Ensures the div takes at least the full height of the viewport */
}

.home-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/Home page.jpg');  /* Path relative to the public folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;  /* Adjust the opacity here */
    z-index: -1;   /* Places the overlay behind the content */
}
